.nameForm {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.2px gray;
  border-radius: 0.2em;
}

.nameForm input {
  height: 45px;
  width: 300px;
}

::placeholder,
input:focus {
  color: rgba(148, 124, 148, 0.76);
  font-size: 15px;
}

.okBtn {
  height: 50px;
  width: 45px;
  border: none;
  background-color: rgba(148, 124, 148, 0.76);
  color: white;
  font-size: 13px;
}
